@font-face {
    font-family: 'Sahel';
    src: url('./fonts/Sahel-FD.woff2') format('woff');
    font-weight: 400;
}

@font-face {
    font-family: 'Sahel';
    src: url('./fonts/Sahel-Bold-FD.woff2') format('woff');
    font-weight: 600;
}

@font-face {
    font-family: 'Sahel';
    src: url('./fonts/Sahel-Light-FD.woff2') format('woff');
    font-weight: 200;
}

html, body {
    font-family: 'Sahel','Helvetica Neue', Helvetica, Arial, sans-serif;
}

input[type="text"] {
    /*background-color: #e8f0fe !important*/
}

.mud-input > input.mud-input-root-outlined[Id="1"],
.mud-input > input.mud-input-root-outlined[Id="2"],
.mud-input > input.mud-input-root-outlined[Id="3"],
.mud-input > input.mud-input-root-outlined[Id="4"] {
    text-align: center;
}
.mud-input > input.mud-input-root-outlined[Id="4"] {
    border-right: 1px solid #aaa;
    padding-inline: 0 !important;
}
    /*MUDBLAZOR OVERRIDES*/
    /*MUDBLAZOR OVERRIDES*/
    .mud-layout {
        background-color: #f5f5f5;
    }

.mud-table {
    box-shadow: -2px 2px 10px -5px;
    border-radius: 0.5rem !important;
}

.mud-table-empty-row {
    border-radius: 1rem
}

/*.mud-form {
    height: -webkit-fill-available;
}*/

.mud-input-outlined {
    background-color: #fff;
}

.mud-input-control > .mud-input-control-input-container {
    /*min-width:30%;*/
}

.mud-input > input.mud-input-root-outlined.mud-input-root-adorned-start {
    padding-inline-start: 0.5rem !important;
    border-right: 1px solid #aaa;
}

.mud-input > input.mud-input-root-outlined.mud-input-root-adorned-end {
    padding-inline-start: 0.5rem;
    /*border-right: 1px solid #aaa;*/
}

.mud-dialog-title {
    border-bottom: 1px solid #ddd;
    direction: rtl;
}

.mud-dialog-content {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100px;
    background-color: #f5f5f5;
}

.mud-dialog-actions {
    border-top: 1px solid #ddd;
}

/*MUDBLAZOR OVERRIDES*/
/*MUDBLAZOR OVERRIDES*/

.form-outer {
    height: -webkit-fill-available;
    width: 80%;
}

.form-inner {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 1rem;
}

.single-field {
    /*height: 9rem;*/
}

.field-group {
    display: flex;
    gap: 0.5rem;
}

.field-group-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
}

.field-group-3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.5rem;
}

.field-group-4 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 0.5rem;
}

.switch-container {
    display: flex;
    align-items: center;
    justify-content:center;
}

@media(max-width:900px) {
    .form-outer {
        width: 90%
    }
    .field-group-4 {
        grid-template-columns: 1fr 1fr;
    }    
}

@media(max-width: 800px) {
    .field-group-3 {
        display: flex;
        flex-direction: column;
    }    
}

@media(max-width: 700px) {
    .field-group-2 {
        display: flex;
        flex-direction: column;
    }
    .field-group-4 {
        display: flex;
        flex-direction: column;
    }  
}

@media(max-width:500px) {
    .form-outer {
        width: 100%
    }
}



a, .btn-link {
    color: #006bb7;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.content {
    padding-top: 1.1rem;
}

h1:focus {
    outline: none;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid #e50000;
}

.validation-message {
    color: #e50000;
}
#blazor-error-ui{
    background-color : orangered !important;
}
.blazor-error-boundary {
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTYiIGhlaWdodD0iNDkiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIG92ZXJmbG93PSJoaWRkZW4iPjxkZWZzPjxjbGlwUGF0aCBpZD0iY2xpcDAiPjxyZWN0IHg9IjIzNSIgeT0iNTEiIHdpZHRoPSI1NiIgaGVpZ2h0PSI0OSIvPjwvY2xpcFBhdGg+PC9kZWZzPjxnIGNsaXAtcGF0aD0idXJsKCNjbGlwMCkiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0yMzUgLTUxKSI+PHBhdGggZD0iTTI2My41MDYgNTFDMjY0LjcxNyA1MSAyNjUuODEzIDUxLjQ4MzcgMjY2LjYwNiA1Mi4yNjU4TDI2Ny4wNTIgNTIuNzk4NyAyNjcuNTM5IDUzLjYyODMgMjkwLjE4NSA5Mi4xODMxIDI5MC41NDUgOTIuNzk1IDI5MC42NTYgOTIuOTk2QzI5MC44NzcgOTMuNTEzIDI5MSA5NC4wODE1IDI5MSA5NC42NzgyIDI5MSA5Ny4wNjUxIDI4OS4wMzggOTkgMjg2LjYxNyA5OUwyNDAuMzgzIDk5QzIzNy45NjMgOTkgMjM2IDk3LjA2NTEgMjM2IDk0LjY3ODIgMjM2IDk0LjM3OTkgMjM2LjAzMSA5NC4wODg2IDIzNi4wODkgOTMuODA3MkwyMzYuMzM4IDkzLjAxNjIgMjM2Ljg1OCA5Mi4xMzE0IDI1OS40NzMgNTMuNjI5NCAyNTkuOTYxIDUyLjc5ODUgMjYwLjQwNyA1Mi4yNjU4QzI2MS4yIDUxLjQ4MzcgMjYyLjI5NiA1MSAyNjMuNTA2IDUxWk0yNjMuNTg2IDY2LjAxODNDMjYwLjczNyA2Ni4wMTgzIDI1OS4zMTMgNjcuMTI0NSAyNTkuMzEzIDY5LjMzNyAyNTkuMzEzIDY5LjYxMDIgMjU5LjMzMiA2OS44NjA4IDI1OS4zNzEgNzAuMDg4N0wyNjEuNzk1IDg0LjAxNjEgMjY1LjM4IDg0LjAxNjEgMjY3LjgyMSA2OS43NDc1QzI2Ny44NiA2OS43MzA5IDI2Ny44NzkgNjkuNTg3NyAyNjcuODc5IDY5LjMxNzkgMjY3Ljg3OSA2Ny4xMTgyIDI2Ni40NDggNjYuMDE4MyAyNjMuNTg2IDY2LjAxODNaTTI2My41NzYgODYuMDU0N0MyNjEuMDQ5IDg2LjA1NDcgMjU5Ljc4NiA4Ny4zMDA1IDI1OS43ODYgODkuNzkyMSAyNTkuNzg2IDkyLjI4MzcgMjYxLjA0OSA5My41Mjk1IDI2My41NzYgOTMuNTI5NSAyNjYuMTE2IDkzLjUyOTUgMjY3LjM4NyA5Mi4yODM3IDI2Ny4zODcgODkuNzkyMSAyNjcuMzg3IDg3LjMwMDUgMjY2LjExNiA4Ni4wNTQ3IDI2My41NzYgODYuMDU0N1oiIGZpbGw9IiNGRkU1MDAiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvZz48L3N2Zz4=) no-repeat 1rem/1.8rem, #b32121;
    padding: 1rem 1rem 1rem 3.7rem;
    color: white;
}

    .blazor-error-boundary::after {
        content: "An error has occurred."
    }

.darker-border-checkbox.form-check-input {
    border-color: #929292;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
    color: var(--bs-secondary-color);
    text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
    text-align: start;
}
