.field-group-2-custom {
    display: grid;
    grid-template-columns: 25% 1fr;
    gap: 0.5rem;
}

.switch-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media(max-width: 700px) {
    .field-group-2-custom {
        display: flex;
        flex-direction: column;
    }

    .switch-container {
        justify-content: start;
    }
}
