@using InVent.Components.Pages.Internals
@inherits BaseBankDialog

<MudDialog>
    <TitleContent>
        <MudText Typo="Typo.body2">@this.Header</MudText>
    </TitleContent>
    <DialogContent>
        @if (this.Bank != null)
        {
            <div class="form-outer">
                <MudForm @ref=this.form @bind-IsValid="this.success" @bind-Errors="this.errors">
                    <div class="form-inner">
                        <MudTextField T="string"
                                      @bind-Value="this.Bank.Name"
                                      Style="direction:rtl;text-align:right"
                                      Required
                                      RequiredError="اجباری"
                                      Label="نام بانک"
                                      Variant="Variant.Outlined">
                        </MudTextField>
                    </div>
                </MudForm>
            </div>
        }
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="Cancel">انصراف</MudButton>
        <MudButton Color="Color.Primary" OnClick="Submit">ویرایش</MudButton>
    </DialogActions>
</MudDialog>
