@page "/counter"

<AuthorizeView>
    <Authorized>
        <PageTitle>Counter</PageTitle>

        <h1>Counter</h1>

        <p role="status">Current count: @currentCount</p>

        <button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
    </Authorized>
    <NotAuthorized>
        <InVent.Components.Account.Shared.RedirectToLogin></InVent.Components.Account.Shared.RedirectToLogin>
    </NotAuthorized>
</AuthorizeView>




@code {


    protected override void OnInitialized()
    {
        base.OnInitialized();
    }
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
