@using InVent.Components.Pages.Internals
@using InVent.Data.Models
@inherits BaseProductDialog

<MudDialog>
    <TitleContent>
        <MudText Typo="Typo.body2">@this.Header</MudText>
    </TitleContent>
    <DialogContent>
        @if (this.Product != null)
        {
            <div class="form-outer">
                <MudForm @ref=this.form @bind-IsValid="this.success" @bind-Errors="this.errors">
                    <div class="form-inner">
                        <MudTextField T="string"
                                      @bind-Value="this.Product.Name"
                                      Required
                                      Label="نام محصول"
                                      Variant="Variant.Outlined">
                        </MudTextField>
                        <MudTextField T="string"
                                      @bind-Value="this.Product.Grade"
                                      Required
                                      Label="Grade"
                                      Variant="Variant.Outlined">
                        </MudTextField>
                        <MudAutocomplete T="Refinery"
                                         @bind-Value="this.Product.Refinery"
                                         ToStringFunc="(e)=> RefineryToString(e)"
                                         SearchFunc="this.SearchRefineries"
                                         Label="پالایشگاه"
                                         Clearable
                                         ClearIcon="@Icons.Material.Filled.Clear"
                                         OnClearButtonClick="()=>this.Product.Refinery = null"
                                         Variant="Variant.Outlined">
                        </MudAutocomplete>
                    </div>
                </MudForm>
            </div>
        }
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="this.Cancel">انصراف</MudButton>
        <MudButton Color="Color.Primary" OnClick="Submit">ویرایش</MudButton>
    </DialogActions>
</MudDialog>