@using InVent.Components.Pages.Internals
@inherits BaseProductDialog

<MudDialog>
    <TitleContent>
        <MudText Typo="Typo.body2">@this.Header</MudText>
    </TitleContent>
    <DialogContent>
        @if (this.Product != null)
        {
            <div class="form-outer">
                <MudForm ReadOnly>
                    <div class="form-inner">
                        <MudTextField T="string"
                                      Value="this.Product.Name"
                                      Required
                                      Label="نام محصول"
                                      Variant="Variant.Outlined">
                        </MudTextField>
                        <MudTextField T="string"
                                      Value="this.Product.Grade"
                                      Required
                                      Label="Grade"
                                      Variant="Variant.Outlined">
                        </MudTextField>
                        <MudTextField T="string"
                                      Value="this.Product.Refinery?.Name"
                                      Required
                                      Label="پالایشگاه"
                                      Variant="Variant.Outlined">
                        </MudTextField>
                    </div>
                </MudForm>
            </div>
        }
    </DialogContent>
    <DialogActions>
        <MudButton Color="Color.Primary" OnClick="Cancel">بستن</MudButton>
    </DialogActions>
</MudDialog>