@using InVent.Components.Pages.Internals
@using InVent.Components.Pages.Shared
@using InVent.Data.Models
@using InVent.Extensions
@inherits BaseEntryDialog

<MudDialog>
    <TitleContent>
        <MudText Typo="Typo.body2">@this.Header</MudText>
    </TitleContent>
    <DialogContent>
        @if (this.Entry != null)
        {
            <div class="form-outer">
                <MudForm ReadOnly>
                    <div class="form-inner">
                        <div class="field-group-2">
                            <MudAutocomplete T="string"
                                             Value="this.Entry.DeliveryOrder?.DeliveryOrderId"
                                             Label="حواله"
                                             Variant="Variant.Outlined">
                            </MudAutocomplete>
                            <MudDatePicker Date=this.Date
                                           Culture="@DateExtension.GetPersianCulture()"
                                           TitleDateFormat="dddd, dd MMMM"
                                           DateFormat="yyyy/MM/dd"
                                           Variant="Variant.Outlined"
                                           Label="تاریخ تخلیه">

                            </MudDatePicker>
                        </div>
                        <div class="field-group-4">
                            <MudTextField T="string"
                                          Value="this.Entry.DeliveryOrder?.Project?.Product?.Refinery?.Name"
                                          ReadOnly
                                          Label="پالایشگاه"
                                          Variant="Variant.Outlined">
                            </MudTextField>
                            <MudTextField T="string"
                                          Value="this.Entry.DeliveryOrder?.Project?.Package?.Name"
                                          ReadOnly
                                          Label="بسته‌بندی"
                                          Variant="Variant.Outlined">
                            </MudTextField>
                            <MudTextField T="string"
                                          Value="this.Entry.DeliveryOrder?.Project?.Product?.Name"
                                          ReadOnly
                                          Label="محصول"
                                          Variant="Variant.Outlined">
                            </MudTextField>
                            <MudTextField T="int?"
                                          Value="this.Entry.DeliveryOrder?.Project?.Number"
                                          ReadOnly
                                          Label="شماره پروژه"
                                          Variant="Variant.Outlined">
                            </MudTextField>
                        </div>
                        <div class="field-group-3">

                            <MudAutocomplete T="string"
                                             Value="this.Entry.Tanker?.DriverName"
                                             Label="راننده"
                                             Variant="Variant.Outlined">
                            </MudAutocomplete>

                            <MudTextField T="int"
                                          Value="this.Entry.Filled"
                                          Format="N0"
                                          TextUpdateSuppression="false"
                                          Label="تعداد بسته"
                                          Variant="Variant.Outlined">
                            </MudTextField>
                            <MudTextField T="int"
                                          Value="this.Entry.Damaged"
                                          Format="N0"
                                          TextUpdateSuppression="false"
                                          Label="معیوب"
                                          Variant="Variant.Outlined">
                            </MudTextField>
                        </div>
                        <div class="field-group-3">
                            <MudTextField T="int"
                                          Value="this.Entry.RefineryFilled"
                                          Format="N0"
                                          TextUpdateSuppression="false"
                                          Adornment="Adornment.End"
                                          AdornmentText="کیلوگرم"
                                          Label="پر پالایشگاه"
                                          Variant="Variant.Outlined">
                            </MudTextField>
                            <MudTextField T="int"
                                          Value="this.Entry.RefineryEmpty"
                                          Format="N0"
                                          TextUpdateSuppression="false"
                                          Adornment="Adornment.End"
                                          AdornmentText="کیلوگرم"
                                          Label="خالی پالایشگاه"
                                          Variant="Variant.Outlined">
                            </MudTextField>
                            <MudTextField T="int?"
                                          Value="this.RefineryNet"
                                          Format="N0"
                                          TextUpdateSuppression="false"
                                          Adornment="Adornment.End"
                                          AdornmentText="کیلوگرم"
                                          Label="خالص پالایشگاه"
                                          Variant="Variant.Outlined">
                            </MudTextField>
                        </div>
                        <div class="field-group-3">
                            <MudTextField T="int"
                                          Value="this.Entry.WarehouseFilled"
                                          Format="N0"
                                          TextUpdateSuppression="false"
                                          Adornment="Adornment.End"
                                          AdornmentText="کیلوگرم"
                                          Label="پر انبار"
                                          Variant="Variant.Outlined">
                            </MudTextField>
                            <MudTextField T="int"
                                          Value="this.Entry.WarehouseEmpty"
                                          Format="N0"
                                          TextUpdateSuppression="false"
                                          Adornment="Adornment.End"
                                          AdornmentText="کیلوگرم"
                                          Label="خالی انبار"
                                          Variant="Variant.Outlined">
                            </MudTextField>
                            <MudTextField T="int?"
                                          Value="this.WarehouseNet"
                                          Format="N0"
                                          TextUpdateSuppression="false"
                                          Adornment="Adornment.End"
                                          AdornmentText="کیلوگرم"
                                          Label="خالص انبار"
                                          Variant="Variant.Outlined">
                            </MudTextField>
                        </div>
                        <div class="field-group-2">
                            <MudTextField T="int?"
                                          Value="this.Difference"
                                          Style="@this.SetDifferenceColor()"
                                          Format="N0"
                                          TextUpdateSuppression="false"
                                          Adornment="Adornment.End"
                                          AdornmentText="کیلوگرم"
                                          Label="اختلاف"
                                          Variant="Variant.Outlined">
                            </MudTextField>
                            <MudTextField T="Double?"
                                          Value="this.Average"
                                          Format="N2"
                                          Label="متوسط بسته"
                                          Variant="Variant.Outlined">
                            </MudTextField>
                        </div>
                        <div class="attachments">
                            <FileUploadComponent Title="بیجک"
                                                 IsMultiple="false"
                                                 Files="this.files"
                                                 Attachments="this.Attachments"
                                                 ExistingAttachments="this.ExistingAttachments"
                                                 Required="true">
                            </FileUploadComponent>
                            <FileUploadComponent Title="قبض باسکول"
                                                 IsMultiple="false"
                                                 Files="this.files"
                                                 Attachments="this.Attachments"
                                                 ExistingAttachments="this.ExistingAttachments"
                                                 Required="false">
                            </FileUploadComponent>
                            <FileUploadComponent Title="سایر"
                                                 IsMultiple="true"
                                                 Files="this.files"
                                                 ExistingAttachments="this.ExistingAttachments"
                                                 Attachments="this.Attachments"
                                                 Required="false">
                            </FileUploadComponent>
                        </div>
                    </div>
                </MudForm>
            </div>
        }
    </DialogContent>
    <DialogActions>
        <MudButton Color="Color.Primary" OnClick="Cancel">بستن</MudButton>
    </DialogActions>
</MudDialog>