.form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem
}

.number-plate {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.number-plate-field {
    display: grid;
    /*flex-direction: row-reverse;
    gap: 0.2rem;*/
    gap: 5%;
    grid-template-columns: 20% 10% 30% 25%;
    direction: ltr
}

.bank-container {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 5%;
    align-items: baseline;
}

@media(max-width:700px) {
    .bank-container {
        display: flex;
        flex-direction: column;
        gap: 0.5rem
    }
}

.mud-input > input.mud-input-root-outlined [id="1"] {
    text-align: center;
}

#1.mud-input > input.mud-input-root-outlined {
    text-align: center;
}
