@using InVent.Components.Pages.Internals
@using InVent.Data.Models
@inherits BaseProjectDialog

<MudDialog>
    <TitleContent>
        <MudText Typo="Typo.body2">@this.Header</MudText>
    </TitleContent>
    <DialogContent>
        @if (this.Project != null)
        {
            <div class="form-big">
                <MudForm @ref=this.form @bind-IsValid="this.success" @bind-Errors="this.errors" @onkeyup="DetectEnter">
                    <div class="field-group">
                        <MudSwitch T="bool"
                                   @bind-Value=this.Project.Status
                                   Color="Color.Success"
                                   UncheckedColor="Color.Error"
                                   Label="@this.StatusText">
                        </MudSwitch>
                        <MudTextField T="int"
                                      @bind-Value="this.Project.Number"
                                      Required
                                      Label="شماره پروژه"
                                      Variant="Variant.Outlined">
                        </MudTextField>
                    </div>
                    <div class="field-group">
                        <MudAutocomplete T="Customer"
                                         @bind-Value="this.Project.Customer"
                                         Required
                                         ToStringFunc="(e)=> CustomerToString(e)"
                                         SearchFunc="this.SearchCustomers"
                                         Label="مشتری"
                                         Variant="Variant.Outlined">
                        </MudAutocomplete>
                        <MudAutocomplete T="Package"
                                         @bind-Value="this.Project.Package"
                                         Required
                                         ToStringFunc="(e)=> PackageToString(e)"
                                         SearchFunc="this.SearchPackages"
                                         Label="بسته‌بندی"
                                         Variant="Variant.Outlined">
                        </MudAutocomplete>
                    </div>
                    <div class="field-group">
                        <MudAutocomplete T="Product"
                                         @bind-Value="this.Project.Product"
                                         Required
                                         ToStringFunc="(e)=> ProductToString(e)"
                                         SearchFunc="this.SearchProducts"
                                         Label="محصول"
                                         Variant="Variant.Outlined">
                        </MudAutocomplete>
                        <MudTextField T="int"
                                      @bind-Value="this.Project.ProjectWeight"
                                      Required
                                      Format="N0"
                                      Immediate
                                      TextUpdateSuppression="false"
                                      Adornment="Adornment.End"
                                      AdornmentText="کیلوگرم"
                                      Label="وزن پروژه"
                                      Variant="Variant.Outlined">
                        </MudTextField>
                        <MudTextField T="int"
                                      @bind-Value="this.Project.PackageCount"
                                      Required
                                      Format="N0"
                                      Immediate
                                      TextUpdateSuppression="false"
                                      Label="تعداد بسته"
                                      Variant="Variant.Outlined">
                        </MudTextField>
                    </div>
                    <div class="field-group">
                        <MudAutocomplete T="Port"
                                         @bind-Value="this.Project.Port"
                                         Required
                                         ToStringFunc="(e)=> PortToString(e)"
                                         SearchFunc="this.SearchPorts"
                                         Label="گمرک خروج"
                                         Variant="Variant.Outlined">
                        </MudAutocomplete>
                        <MudAutocomplete T="Customs"
                                         @bind-Value="this.Project.Customs"
                                         Required
                                         ToStringFunc="(e)=> CustomsToString(e)"
                                         SearchFunc="this.SearchCustoms"
                                         Label="گمرک اظهار"
                                         Variant="Variant.Outlined">
                        </MudAutocomplete>
                    </div>
                </MudForm>
            </div>
        }
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="this.Cancel">انصراف</MudButton>
        <MudButton Color="Color.Primary" OnClick="Submit">ویرایش</MudButton>
    </DialogActions>
</MudDialog>