.files-container {
    display: flex;
    flex-direction: column;
    padding-top: 0.5rem;
    gap: 0.3rem;
}

.file {
    display: grid;
    grid-template-columns: 1fr 25% 5%;
    align-items: center;
    text-align: end;
    max-width: 500px;
    background-color: #ddd;
    height: 2rem;
    padding: 0 0.5rem
}

.attachments {
    display: flex;
    /*gap:1rem;*/
    flex-wrap: wrap;
    justify-content: space-between;
    padding-block: 0.5rem;
}

.switch-container {
    display: flex;
    align-items: center;
}

.number-plate {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.number-plate-field {
    display: grid;
    gap: 5%;
    grid-template-columns: 20% 10% 30% 25%;
    direction: ltr
}
