.files-container {
    display: flex;
    flex-direction: column;
    padding-top: 0.5rem;
    gap: 0.3rem;
}

.file {
    display: grid;
    grid-template-columns: 1fr 25% 5%;
    align-items: center;
    text-align: end;
    max-width: 500px;
    background-color: #ddd;
    height: 2rem;
    padding: 0 0.5rem
}
