.files-container {
    display: flex;
    flex-direction: column;
    padding-top: 0.5rem;
    gap: 0.3rem;
}

.file {
    display: grid;
    grid-template-columns: 1fr 25% 5%;
    align-items: center;
    text-align: end;
    max-width: 500px;
    background-color: #ddd;
    height: 2rem;
    padding: 0 0.5rem
}

.attachments {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-block: 0.5rem;
}

.field-group-2-custom {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
    align-items: baseline
}

.switch-container {
    display: flex;
    align-items: center;
}

.switches-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 1rem
}

@media(max-width: 700px) {
    .field-group-2-custom {
        display: flex;
        flex-direction: column;
        align-items: unset;
    }
}


.number-plate {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.number-plate-field {
    display: grid;
    gap: 1%;
    grid-template-columns: 20% 15% 27% 35%;
    direction: ltr
}
