<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Debug" internalLogFile="nlog-internal.log">
      <!--internalLogLevel="Debug" internalLogFile="c:\temp\nlog-internal.log">-->

			<variable name="myvar" value="myvalue"/>

	
	<targets>
		<!--<target xsi:type="File" name="logfile" fileName="Logs/app.log" layout="${longdate}|${level}|${logger}|${message}${exception}" createDirs="true" />-->
		<target xsi:type="File" name="errorFile" fileName="Logs/Errors.log" layout="${longdate}|${level}|${logger}|${message}${exception}" createDirs="true" />
		<target xsi:type="File" name="userFile" fileName="Logs/Users.log" layout="${longdate}|${level}|${logger}|${message}" createDirs="true" />
		<target xsi:type="File" name="attempFile" fileName="Logs/Attempts.log" layout="${longdate}|${level}|${logger}|${message}" createDirs="true" />		
	</targets>

	<rules>
		<!-- Ignore framework logs -->
		<!--<logger name="Microsoft.EntityFrameworkCore.Database.Command" minlevel="Off" final="true"/>
		<logger name="Microsoft.EntityFrameworkCore.Update" minlevel="Off" final="true"/>-->
		<!--<logger name="Microsoft.*" minlevel="Off" final="true"/>
		<logger name="System.*" minlevel="Off" final="true"/>-->

		<!-- add your logging rules here -->
		<logger name="*" level="Error" writeTo="errorFile" />
		<logger name="*" level="Info" writeTo="userFile" />
		<logger name="*" level="Warn" writeTo="attempFile" />
		
	</rules>
</nlog>