
.number-plate {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.number-plate-field {
    display: grid;
    gap: 1%;
    grid-template-columns: 20% 15% 27% 35%;
    direction: ltr
}

.field-group-2-custom {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
    align-items: baseline;
}

@media(max-width: 700px) {
    .field-group-2-custom {
        display: flex;
        flex-direction: column;
        align-items: unset;
    }
}


