@using InVent.Components.Pages.Internals
@inherits BaseCarrierDialog

<MudDialog>
    <TitleContent>
        <MudText Typo="Typo.body2">@this.Header</MudText>
    </TitleContent>
    <DialogContent>
        @if (this.Carrier != null)
        {
            <div class="form-outer">
                <MudForm ReadOnly>
                    <div class="form-inner">
                        <MudTextField T="string"
                                      Value="this.Carrier.Name"
                                      Required
                                      Label="نام شرکت"
                                      Variant="Variant.Outlined">
                        </MudTextField>
                        <MudTextField T="string"
                                      Value="this.Carrier.Phone"
                                      Required
                                      Label="تلفن شرکت"
                                      Variant="Variant.Outlined">
                        </MudTextField>
                        <MudTextField T="string"
                                      Value="this.Carrier.BankNumber"
                                      Adornment="Adornment.End"
                                      AdornmentText="IR"
                                      Label="شماره شبای شرکت"
                                      Variant="Variant.Outlined">
                        </MudTextField>
                        <MudTextField T="string"
                                      Value="this.Carrier.Bank?.Name"
                                      Label="بانک شرکت"
                                      Variant="Variant.Outlined">
                        </MudTextField>
                    </div>
                </MudForm>
            </div>
        }
    </DialogContent>
    <DialogActions>
        @* <MudButton OnClick="this.Cancel">انصراف</MudButton> *@
        <MudButton Color="Color.Primary" OnClick="Cancel">بستن</MudButton>
    </DialogActions>
</MudDialog>