@using InVent.Components.Pages.Internals
@using InVent.Data.Models
@inherits BasePackageDialog

<MudDialog>
    <TitleContent>
        <MudText Typo="Typo.body2">@this.Header</MudText>
    </TitleContent>
    <DialogContent>
        <div class="form-outer">
            <MudForm @ref=this.form @bind-IsValid="this.success" @bind-Errors="this.errors" @onkeyup="DetectEnter">
                <div class="form-inner">
                    <MudTextField T="string"
                                  @bind-Value="this.Package.Name"
                                  Required
                                  Label="نام بسته‌بندی"
                                  Variant="Variant.Outlined">
                    </MudTextField>
                                 @*  Immediate
                                  TextUpdateSuppression="false" *@
                    <MudTextField T="int?"
                                  @bind-Value="this.Package.Volume"
                                  Format="N0"
                                  Adornment="Adornment.End"
                                  AdornmentText="لیتر"
                                  Label="حجم بارگیری"
                                  Variant="Variant.Outlined">
                    </MudTextField>
                                  @* Immediate
                                  TextUpdateSuppression="false" *@
                    <MudTextField T="int?"
                                  @bind-Value="this.Package.Weight"
                                  Format="N0"
                                  Adornment="Adornment.End"
                                  AdornmentText="کیلوگرم"
                                  Label="وزن ظرف"
                                  Variant="Variant.Outlined">
                    </MudTextField>
                </div>
            </MudForm>
        </div>

    </DialogContent>
    <DialogActions>
        <MudButton OnClick="this.Cancel">انصراف</MudButton>
        <MudButton Color="Color.Primary" OnClick="Submit">ذخیره</MudButton>
    </DialogActions>
</MudDialog>