@using InVent.Components.Pages.Internals
@inherits BaseRefineryDialog

<MudDialog>
    <TitleContent>
        <MudText Typo="Typo.body2">@this.Header</MudText>
    </TitleContent>
    <DialogContent>
        @if (this.Refinery != null)
        {
            <div class="form-outer">
                <MudForm ReadOnly>
                    <div class="form-inner">
                        <MudTextField T="string"
                                      @bind-Value="this.Refinery.Name"
                                      Required
                                      Label="نام پالایشگاه"
                                      Variant="Variant.Outlined">
                        </MudTextField>
                        <MudTextField T="string"
                                      @bind-Value="this.Refinery.City"
                                      Required
                                      Label="شهر"
                                      Variant="Variant.Outlined">
                        </MudTextField>
                    </div>
                </MudForm>
            </div>
        }
    </DialogContent>
    <DialogActions>
        <MudButton Color="Color.Primary" OnClick="Cancel">بستن</MudButton>
    </DialogActions>
</MudDialog>