.upload-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 24%;
    gap: 4px;
    padding-bottom: 8px;
}

.activator {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px dashed lightsteelblue;
    border-radius: 0.5em;
    padding: 0.5rem;
    cursor: pointer
}

.files-container {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.file {
    display: grid;
    grid-template-columns: 1fr 20px;
    gap: 4px;
    align-items: center;
    text-align: end;
    background-color: #ddd;
    border-radius: 0.2rem;
    padding: 0 0.3rem;
    cursor:pointer
}

@media(max-width:750px){
    .upload-container {
        width: calc(50% - 0.25rem)
    }
}
