.number-plate {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.number-plate-field {
    display: grid;
    gap: 5%;
    grid-template-columns: 20% 10% 30% 25%;
    direction: ltr
}

